.todoList-containter {

}

.todoList-top {
    text-align: center;
}

.input {
    height: 32px;
    width: 300px;
}

.button {
    display: inline-block;
    height: 34px;
    line-height: 34px;
    width: 64px;
    background-color: #10A310;
    color: #ffffff;
    cursor: pointer;
}